<p>backoffice-page works!</p>
<p-card header="Transfer Creation">
  <app-transfer-form (formSubmit)="onTransferCreate($event)"></app-transfer-form>
</p-card>

<p-card header="Spending Creation">
  <app-spending-form (formSubmit)="onSpendingCreate($event)"></app-spending-form>
</p-card>

<p-card header="Rule Creation">
  <app-rule-form (formSubmit)="onRuleCreate($event)"></app-rule-form>
</p-card>

<p-card header="Category Creation">
  <app-category-creation></app-category-creation>
</p-card>

<p-card header="Bank Creation">
  <app-bank-creation></app-bank-creation>
</p-card>

<p-card header="Space Creation">
  <app-space-creation></app-space-creation>
</p-card>

<p-card header="Einnahmen Creation">
  <app-income-form (formSubmit)="onIncomeCreate($event)"></app-income-form>
</p-card>
