<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Overview</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>

<form action="#" th:action="@{/spendings/edit}" th:object="${spendingEditDto}" method="post">
    <select th:field="*{category}">
        <option th:each="category : ${categoryDtos}"
                th:value="${category.getCategorie()}"
                th:text="${category.getCategorie()}">
            Option
        </option>
    </select>
    <input type="hidden" th:field="*{id}"/>
    <br>
    <br>
    <input type="text" th:field="*{description}" placeholder="Description"/>
    <br>
    <br>
    <input type="text" th:field="*{amount}" placeholder="Amount"/>
    <br>
    <br>
    <select th:field="*{ruleId}">
        <option th:each="ruleDropDownDto : ${ruleDropDownDtos}"
                th:value="${ruleDropDownDto.getId()}"
                th:text="${ruleDropDownDto.getDescription()}">
            Option
        </option>
    </select>
    <br>
    <br>
    <select th:field="*{transferId}">
        <option th:each="transferDropDownDto : ${transferDropDownDtos}"
                th:value="${transferDropDownDto.getId()}"
                th:text="${transferDropDownDto.getDescription()}">
            Option
        </option>
    </select>

    <!--
        <input type="text" th:field="*{transferDto.description}" placeholder="Transfer Description"/>
    -->

    <button type="submit">Save</button>
</form>
<br>
<br>

<div style="display: flex; justify-content: center; height: 40vh; align-items: flex-start;">
    <a th:href="@{/rules}" class="button-link" style="margin-right: 10px;">Rules</a>
    <a th:href="@{/transfers}" class="button-link">Transfers</a>
</div>

</html>