<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Income</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Amount</th>
        <!-- Weitere Spaltenköpfe hier -->
    </tr>
    </thead>
    <tbody>
    <div th:each="earningDto : ${incomeDto.earningDtos}">
        <td th:text="${earningDto.id}">ID</td>
        <td></td>
        <td th:text="${earningDto.description}">Description</td>
        <td th:text="${earningDto.amount}">Amount</td>
        <td>
            <form th:action="@{/incomes/{id}/delete(id=${earningDto.id})}" method="get">
                <input type="submit" value="Delete"/>
            </form>
            <form th:action="@{/incomes/{id}/edit(id=${earningDto.id})}" method="get">
                <input type="submit" value="Edit"/>
            </form>
        </td>
        <tr>
            <td></td>
        </tr>
    </div>
    <tr>
        <td>Summe</td>
        <td></td>
        <td th:text="${incomeDto.sumOfEarnings}"></td>
    </tr>
    </tbody>
</table>
<!--
&lt;!&ndash; Form to Add New Data &ndash;&gt;
-->
<form action="#" th:action="@{/incomes}" th:object="${incomeCreationDto}" method="post">
    <input type="text" th:field="*{description}" placeholder="Description"/>
    <br>
    <br>
    <input type="text" th:field="*{amount}" placeholder="Amount"/>
    <br>
    <br>
    </select>

    <!--
        <input type="text" th:field="*{transferDto.description}" placeholder="Transfer Description"/>
    -->

    <button type="submit">Save</button>
</form>
<br>
<br>

<div style="display: flex; justify-content: center; height: 40vh; align-items: flex-start;">
    <a th:href="@{/rules}" class="button-link" style="margin-right: 10px;">Rules</a>
    <a th:href="@{/transfers}" class="button-link">Transfers</a>
    <a th:href="@{/overview}" class="button-link">Overview</a>
</div>
</html>