<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Overview</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Rule</th>
        <th>Transfer</th>
        <th>Action</th>
        <!-- Weitere Spaltenköpfe hier -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="spendingOverviewDto : ${spendingDtos}">
        <td th:text="${spendingOverviewDto.id}">ID</td>
        <td th:text="${spendingOverviewDto.category}">Category</td>
        <td th:text="${spendingOverviewDto.description}">Description</td>
        <td th:text="${spendingOverviewDto.amount}">Amount</td>
        <td th:text="${spendingOverviewDto.getRuleDescription()}">Rule</td>
        <td th:text="${spendingOverviewDto.getTransferDescription()}">Rule</td>
        <!--
                <td th:text="${spendingOverviewDto.getTransferDto().getDescription()}">Transfer</td>
        -->
        <!-- Weitere Datenspalten hier -->
        <td>
            <form th:action="@{/delete/{id}(id=${spendingOverviewDto.id})}" method="get">
                <input type="submit" value="Delete"/>
            </form>
            <form th:action="@{/spendings/edit/{id}(id=${spendingOverviewDto.id})}" method="get">
                <input type="submit" value="Edit"/>
            </form>
        </td>
    </tr>
    <tr>
        <td>Summe</td>
        <td></td>
        <td></td>
        <td th:text="${sumOfSpendings}"></td>
    </tr>
    </tbody>
</table>
<!--
&lt;!&ndash; Form to Add New Data &ndash;&gt;
-->
<form action="#" th:action="@{/newspending}" th:object="${spendingCreationDto}" method="post">
    <select th:field="*{category}">
        <option th:each="category : ${categoryDtos}"
                th:value="${category.getCategorie()}"
                th:text="${category.getCategorie()}">
            Option
        </option>
    </select>
    <br>
    <br>
    <input type="text" th:field="*{description}" placeholder="Description"/>
    <br>
    <br>
    <input type="text" th:field="*{amount}" placeholder="Amount"/>
    <br>
    <br>
    <select th:field="*{ruleId}">
        <option th:each="ruleDropDownDto : ${ruleDropDownDtos}"
                th:value="${ruleDropDownDto.getId()}"
                th:text="${ruleDropDownDto.getDescription()}">
            Option
        </option>
    </select>
    <br>
    <br>
    <select th:field="*{transferId}">
        <option th:each="transferDropDownDto : ${transferDropDownDtos}"
                th:value="${transferDropDownDto.getId()}"
                th:text="${transferDropDownDto.getDescription()}">
            Option
        </option>
    </select>

    <!--
        <input type="text" th:field="*{transferDto.description}" placeholder="Transfer Description"/>
    -->

    <button type="submit">Save</button>
</form>
<br>
<br>

<div style="display: flex; justify-content: center; height: 40vh; align-items: flex-start;">
    <a th:href="@{/rules}" class="button-link" style="margin-right: 10px;">Rules</a>
    <a th:href="@{/transfers}" class="button-link">Transfers</a>
</div>
<div style="height:433px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F; padding: 0px; margin: 0px; width: 100%;">
    <div style="height:413px; padding:0px; margin:0px; width: 100%;">
        <iframe src="https://widget.coinlib.io/widget?type=full_v2&theme=light&cnt=6&pref_coin_id=1505&graph=yes"
                width="100%" height="409px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0"
                style="border:0;margin:0;padding:0;"></iframe>
    </div>
    <div style="color: #FFFFFF; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;">
        <a href="https://coinlib.io" target="_blank"
           style="font-weight: 500; color: #FFFFFF; text-decoration:none; font-size:11px">Cryptocurrency Prices</a>&nbsp;by
        Coinlib
    </div>
</div>

</html>