<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Overview</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Rule</th>
        <th>Transfer</th>
        <th>Action</th>
        <!-- Weitere Spaltenköpfe hier -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="spendingOverviewDto : ${spendingDtos}">
        <td th:text="${spendingOverviewDto.id}">ID</td>
        <td th:text="${spendingOverviewDto.category}">Category</td>
        <td th:text="${spendingOverviewDto.description}">Description</td>
        <td th:text="${spendingOverviewDto.amount}">Amount</td>
        <td th:text="${spendingOverviewDto.getRuleDescription()}">Rule</td>
        <td th:text="${spendingOverviewDto.getTransferDescription()}">Rule</td>
        <!--
                <td th:text="${spendingOverviewDto.getTransferDto().getDescription()}">Transfer</td>
        -->
        <!-- Weitere Datenspalten hier -->
        <td>
            <form th:action="@{/delete/{id}(id=${spendingOverviewDto.id})}" method="post">
                <input type="submit" value="Löschen"/>
            </form>
        </td>
    </tr>
    <tr>
        <td>Summe</td>
        <td></td>
        <td></td>
        <td th:text="${sumOfSpendings}"></td>
    </tr>
    </tbody>
</table>
<!--
&lt;!&ndash; Form to Add New Data &ndash;&gt;
-->
<form action="#" th:action="@{/newspending}" th:object="${spendingCreationDto}" method="post">
    <select th:field="*{category}">
        <option th:each="category : ${categoryDtos}"
                th:value="${category.getCategorie()}"
                th:text="${category.getCategorie()}">
            Option
        </option>
    </select>
    <br>
    <br>
    <input type="text" th:field="*{description}" placeholder="Description"/>
    <br>
    <br>
    <input type="text" th:field="*{amount}" placeholder="Amount"/>
    <br>
    <br>
    <select th:field="*{ruleId}">
        <option th:each="ruleDropDownDto : ${ruleDropDownDtos}"
                th:value="${ruleDropDownDto.getId()}"
                th:text="${ruleDropDownDto.getDescription()}">
            Option
        </option>
    </select>
    <br>
    <br>
    <select th:field="*{transferId}">
        <option th:each="transferDropDownDto : ${transferDropDownDtos}"
                th:value="${transferDropDownDto.getId()}"
                th:text="${transferDropDownDto.getDescription()}">
            Option
        </option>
    </select>

    <!--
        <input type="text" th:field="*{transferDto.description}" placeholder="Transfer Description"/>
    -->

    <button type="submit">Save</button>
</form>
<br>
<br>
<div style="display: flex; justify-content: center; height: 40vh; align-items: flex-start;">
    <a th:href="@{/rules}" class="button-link">Rules</a>
</div>
<div style="display: flex; justify-content: center; height: 40vh; align-items: flex-start;">
    <a th:href="@{/transfers}" class="button-link">Transfers</a>
</div>

</html>