<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rules</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Action</th>
        <!-- Weitere Spaltenköpfe hier -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="ruleOverviewDto : ${ruleOverviewDtos}">
        <td th:text="${ruleOverviewDto.getId()}">ID</td>
        <td th:text="${ruleOverviewDto.getDescription()}">Description</td>
        <td th:text="${ruleOverviewDto.getFrom()}">From</td>
        <td th:text="${ruleOverviewDto.getTo()}">To</td>
        <td th:text="${ruleOverviewDto.getAmount()}">Amount</td>
        <!-- Weitere Datenspalten hier -->
        <span th:if="${ruleOverviewDto.isChange()}" style="background-color: red;">
            <td bgcolor="orange">
                <span th:text="${ruleOverviewDto.getOldAmount()}"></span>
                <form th:action="@{/confirmchangerule/{id}(id=${ruleOverviewDto.getId()})}" method="post">
                    <input type="submit" value="Confirm"/>
                </form>
            </td>
        </span>
        <span th:unless="${ruleOverviewDto.isChange()}">
        <td bgcolor="#77fb89">
            OK
        </td>
        </span>
        <td>
            <form th:action="@{/removerule/{id}(id=${ruleOverviewDto.getId()})}" method="post">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <tr>
        <td>Summe</td>
        <td></td>
        <td></td>
        <td th:text="${sumOfAllRules}"></td>
    </tr>
    </tbody>
</table>
<!--
&lt;!&ndash; Form to Add New Data &ndash;&gt;
-->
<form action="#" th:action="@{/newrule}" th:object="${ruleCreationDto}" method="post">
    <input type="text" th:field="*{description}" placeholder="Description"/>
    <input type="text" th:field="*{from}" placeholder="From"/>
    <input type="text" th:field="*{to}" placeholder="to"/>

    <!--
        <input type="text" th:field="*{transferDto.description}" placeholder="Transfer Description"/>
    -->

    <button type="submit">Save</button>
</form>

<br>
<br>

<div style="display: flex; justify-content: center; height: 40vh; align-items: flex-start;">
    <a th:href="@{/overview}" class="button-link">Overview</a>
</div>
</body>
</html>
