<p>spending-creation works!</p>

<div class="card flex flex-column md:flex-row gap-3">
  <div class="input-group">
    <p-floatlabel>
      <input id="name" type="text" pInputText
             [(ngModel)]="name"
      />
      <label for="name">Name</label>
    </p-floatlabel>
  </div>

  <div class="input-group">
    <p-inputgroup>
      <p-floatlabel>
        <p-inputnumber
          [(ngModel)]="amount"
          id="minmaxfraction"
          mode="decimal"
          [allowEmpty]="true"
          [minFractionDigits]="2"
        />
        <label for="minmaxfraction">Betrag</label>
      </p-floatlabel>
      <p-inputgroup-addon>€</p-inputgroup-addon>
    </p-inputgroup>
    @if (preFilledSpendingFormDto?.isPreFilled) {
    <p-inputgroup-addon>
      <button pButton type="button" (click)="onEvenizeSpending($safeNavigationMigration(preFilledSpendingFormDto?.spendingCreationDto?.id))">Evenize</button>
    </p-inputgroup-addon>
    }
  </div>

  <div class="input-group">
    <p-floatlabel>
      <p-select
        id="category"
        [options]="categories"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
      />
      <label for="category">Kategorie</label>
    </p-floatlabel>
  </div>

  <div class="input-group">
    <p-floatlabel>
      <p-select
        id="transfer"
        [options]="transfers"
        [(ngModel)]="selectedTransfer"
        optionLabel="description"

      />
      <label for="transfer">Transfer</label>
    </p-floatlabel>
  </div>

  <div class="input-group">
    <p-floatlabel>
      <p-select
        id="rule"
        [options]="rules"
        [(ngModel)]="selectedRule"
        optionLabel="description"
      />
      <label for="rule">Rule</label>
    </p-floatlabel>
  </div>

  <div class="input-group">
    <p-button label="Submit" (click)="onClick()"/>
  </div>

</div>
